/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
menu {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.desktop-menu__button, .header__content .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop-menu__button {
  background-color: rgb(253, 111, 0);
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 2px solid rgb(253, 111, 0);
  max-width: 188px;
  width: 100%;
  height: 52px;
  cursor: pointer;
  font-size: 21px;
  overflow-x: hidden;
}

.projects__header-heading, .list__description-title, .services__content .services__heading-title, .aboutMe__title, .main-title, .content__title {
  font-size: 65px;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 98px;
  letter-spacing: 3%;
  color: #000;
}

.project__item-title-name, .project__item-title-category, .projects__header-description, .list__description-description, .services__content .services__heading-description, .aboutMe__heading p, .content__description {
  font-family: "Poppins";
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3%;
  color: #000;
}

.testimonials, .project__item-title, .project__item, .projects__project, .projects {
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
}

[class$=__container] {
  max-width: 1420px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.m_top139 {
  margin-top: 139px;
}

*::selection {
  background-color: rgb(253, 111, 0);
  color: #fff;
}

* img {
  user-select: none;
}

.header {
  padding-top: 61px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content .logo {
  color: rgb(66, 66, 66);
  font-size: 48px;
  font-family: "Montserrat";
  gap: 20px;
}
.header__content .logo .logo__circle {
  width: 66px;
  height: 66px;
  background-color: rgb(253, 111, 0);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.header__content .logo .logo__title::first-letter {
  color: #000;
  font-weight: bold;
}
.header__content .desktop-menu {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  font-size: 18px;
}
.header__content .desktop-menu__item {
  padding: 10px 14px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.header__content .desktop-menu__item a {
  color: #000;
}
.header__content .desktop-menu__item::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: left;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
}
.header__content .desktop-menu__item:hover::after {
  transform: scale(100%);
  -webkit-transform: scale(100%);
  -moz-transform: scale(100%);
  -ms-transform: scale(100%);
  -o-transform: scale(100%);
}
.header__content .mobile-nav {
  display: none;
}
.header__content .mobile-nav .fa-bars {
  font-size: 40px;
  color: rgb(253, 111, 0);
  cursor: pointer;
}
.header__content .mobile-nav .mobile-menu {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  background-color: rgb(253, 111, 0);
  width: 200px;
  height: 100vh;
}
.header__content .mobile-nav .mobile-menu__close {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: none;
  padding: 10px;
}
.header__content .mobile-nav .mobile-menu__close .fa-xmark {
  font-size: 30px;
  color: #fff;
}
.header__content .mobile-nav .mobile-menu__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 90%;
}
.header__content .mobile-nav .mobile-menu__list .mobile-menu__item {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 10%;
  cursor: pointer;
}
.header__content .mobile-nav .mobile-menu__list .mobile-menu__button {
  width: 90%;
  height: 40px;
  background: #fff;
  border: none;
  border-radius: 5px;
  color: rgb(253, 111, 0);
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.desktop-menu__button {
  font-weight: 400;
  position: relative;
}
.desktop-menu__button span {
  position: absolute;
  z-index: 2;
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
}
.desktop-menu__button::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
}
.desktop-menu__button::after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
}
.desktop-menu__button:hover::before {
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}
.desktop-menu__button:hover::after {
  transform: translate(-1px);
  -webkit-transform: translate(-1px);
  -moz-transform: translate(-1px);
  -ms-transform: translate(-1px);
  -o-transform: translate(-1px);
}
.desktop-menu__button:hover span {
  color: rgb(253, 111, 0);
}

@media (hover: hover) {
  .mobile-menu__item:hover {
    background: orange;
  }
  .mobile-menu__button:hover {
    background: orange !important;
    color: #fff !important;
  }
}
@media (hover: none) {
  .mobile-menu__item:active {
    background: orange;
  }
  .mobile-menu__button:active {
    background: orange !important;
    color: #fff !important;
  }
}
@media (max-width: 1440px) {
  .header {
    padding-top: 20px;
  }
  .header .logo {
    gap: 10px;
  }
  .header .logo .logo__circle {
    width: 50px;
    height: 50px;
  }
  .header .logo__title {
    font-size: 30px;
  }
  .header .desktop-menu {
    justify-content: right;
    gap: 18px;
  }
  .header .desktop-menu__item {
    padding: 5px 7px;
  }
  .header .desktop-menu__button {
    max-width: 150px;
    width: 100%;
    font-size: 18px;
    letter-spacing: 0.3px;
  }
}
@media (max-width: 1100px) {
  .header .desktop-menu {
    gap: 23px;
  }
  .header .desktop-menu__item {
    padding: 5px 0px;
  }
}
@media (max-width: 1000px) {
  .desktop-menu {
    display: none !important;
  }
  .mobile-nav {
    display: block !important;
  }
}
@media (max-width: 860px) {
  .header .logo__title {
    font-size: 40px;
  }
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}
.content__heading {
  max-width: 714px;
  width: 100%;
}
.content__heading button {
  margin-top: 22px;
}
.content__title {
  font-size: 24px;
  line-height: 36px;
}
.content__title span {
  color: rgb(253, 111, 0);
  line-height: 48px;
  font-size: 32px;
}
.content__description {
  margin-top: 28px;
}

.main-title {
  display: flex;
  flex-direction: column;
  line-height: 90%;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 700;
}
.main-title span:last-child {
  text-transform: capitalize;
  text-align: right;
}

.picture {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.picture > img {
  position: absolute;
  z-index: 2;
  top: -70px;
  right: -31.2px;
}
.picture::before {
  content: "";
  width: 374px;
  height: 83px;
  position: absolute;
  top: 2%;
  left: 10%;
  background-color: rgb(253, 111, 0);
  opacity: 0.6;
  z-index: 3;
}
.picture__content {
  background: #fff;
  border: 5px solid rgb(253, 111, 0);
  box-shadow: inset 0px 6px 6px 0px rgba(0, 0, 0, 0.47);
  height: 485px;
  width: 485px;
  position: relative;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}
.picture__content img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.picture__social-network ol {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 32px;
}
.picture__social-network ol a {
  color: #000;
  transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
}
.picture__social-network ol a:hover {
  color: rgb(253, 111, 0);
}

[type=range] {
  -webkit-appearance: none;
  background: transparent;
  margin: 16px 0;
  width: 100%;
}

[type=range]::-moz-focus-outer {
  border: 0;
}

[type=range]:focus {
  outline: 0;
}

[type=range]:focus::-webkit-slider-runnable-track {
  background: #cdcdcd;
}

[type=range]:focus::-ms-fill-lower {
  background: rgb(192, 192, 192);
}

[type=range]:focus::-ms-fill-upper {
  background: #cdcdcd;
}

[type=range]::-webkit-slider-runnable-track {
  cursor: default;
  height: 12px;
  transition: all 0.2s ease;
  width: 100%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
  background: rgb(192, 192, 192);
  border: 0 solid #cfd8dc;
  border-radius: 5px;
}

[type=range]::-webkit-slider-thumb {
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: rgb(237, 236, 236);
  border: 3px solid rgb(253, 111, 0);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: default;
  height: 32px;
  width: 32px;
  -webkit-appearance: none;
  margin-top: -10px;
}

[type=range]::-moz-range-track {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
  cursor: default;
  height: 12px;
  transition: all 0.2s ease;
  width: 100%;
  background: rgb(192, 192, 192);
  border: 0 solid #cfd8dc;
  border-radius: 5px;
  height: 6px;
}

[type=range]::-moz-range-thumb {
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: rgb(237, 236, 236);
  border: 3px solid rgb(253, 111, 0);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: default;
  height: 32px;
  width: 32px;
}

[type=range]::-ms-track {
  cursor: default;
  height: 12px;
  transition: all 0.2s ease;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

[type=range]::-ms-fill-lower {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
  background: #b3b3b3;
  border: 0 solid #cfd8dc;
  border-radius: 10px;
}

[type=range]::-ms-fill-upper {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
  background: rgb(192, 192, 192);
  border: 0 solid #cfd8dc;
  border-radius: 10px;
}

[type=range]::-ms-thumb {
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.2), 0 0 4px rgba(13, 13, 13, 0.2);
  background: rgb(237, 236, 236);
  border: 3px solid rgb(253, 111, 0);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: default;
  height: 32px;
  width: 32px;
  margin-top: 3px;
}

[type=range]:disabled::-webkit-slider-thumb, [type=range]:disabled::-moz-range-thumb, [type=range]:disabled::-ms-thumb, [type=range]:disabled::-webkit-slider-runnable-track, [type=range]:disabled::-ms-fill-lower, [type=range]:disabled::-ms-fill-upper {
  cursor: not-allowed;
}

.aboutMe {
  margin-top: 140px;
}
.aboutMe__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutMe__content .picture {
  position: relative;
}
.aboutMe__content .picture > img {
  padding: auto;
  left: -98px;
  top: -103px;
  border-radius: 60%;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
}
.aboutMe__content .picture__content {
  border: none;
}
.aboutMe__heading {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.aboutMe__skills {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.aboutMe__skills dt {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.aboutMe__skill {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.services__content {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.services__content .services__heading {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.services__content .services__heading-description {
  text-align: center;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 31px;
}
.list__item {
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-width: 330px;
  width: 100%;
  height: 346px;
  padding: 57px 18px 10px;
  background: rgb(248, 248, 248);
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.list__description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.list__description-title {
  font-size: 32px;
  line-height: 48px;
}
.list__description-description {
  font-size: 19px;
  line-height: 29px;
}

.projects {
  gap: 59px;
}
.projects__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 22px;
}
.projects__header-heading {
  color: rgb(30, 30, 30);
}
.projects__header-description {
  text-align: center;
}
.projects__project {
  gap: 106px;
}
.projects__project-nav {
  display: flex;
  justify-content: center;
  align-items: none;
  gap: 17px;
}
.projects__project-nav input[name=check__project] {
  display: none;
}
.projects__project-nav .checkbox__button {
  padding: 10px 20px;
  background: rgb(248, 248, 248);
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 3%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border: 0.4px solid rgb(84, 84, 84);
  cursor: pointer;
  user-select: none;
}
.projects__project-nav input[name=check__project]:checked + .checkbox__button {
  background: rgb(253, 111, 0);
  color: #fff;
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project__item {
  max-width: 445px;
  width: 100%;
  height: 601px;
  margin-bottom: 44px;
  gap: 37px;
}
.project__item-picture {
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  width: 100%;
  height: 489px;
  position: relative;
  display: flex;
  justify-content: end;
  background: rgb(255, 235, 219);
}
.project__item-picture img:first-child {
  position: absolute;
  bottom: -3px;
  left: 39px;
}
.project__item-picture img:last-child {
  margin-right: 27px;
}
.project__item-title {
  gap: 10px;
}
.project__item-title-category {
  font-size: 19px;
  line-height: 29px;
  color: rgb(253, 111, 0);
}
.project__item-title-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

/*# sourceMappingURL=style.style.css.map */
