@media (max-width: 1300px) and (min-width: 1100px) {
  .aboutMe__title {
    text-align: center;
  }
  .aboutMe__heading p {
    text-align: center;
    font-size: 15px;
    line-height: 22px;
  }
  .aboutMe__content {
    justify-content: space-around;
  }
}
@include laptop() {
  .aboutMe__content {
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 50px;
  }
  .aboutMe__heading {
    .aboutMe__title {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  .content__description {
    text-align: center;
  }
  .main__button-container {
    justify-content: center;
  }
}
