@include laptop-L() {
  .picture {
    margin: 0 30px;
  }
}

@media (max-width: 1300px) and (min-width: 1100px) {
  .content__heading {
    max-width: 600px;

    .content__title {
      font-size: 18px;
      line-height: 20px;

      span {
        font-size: 25px;
      }
    }
    .main-title {
      font-size: 80px;
    }
    .content__description {
      font-size: 15px;
      line-height: 26px;
    }
  }
}

@include laptop {
  .content {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    gap: 30px;
  }
  .picture {
    margin-top: 100px;
    margin-left: 0;
  }
}

@include tablet(){
  .main-title{
    flex-direction: row;
    gap: 20px;
    font-size: 70px;
    justify-content: center;
  }
  .content__description{
    font-size: 18px;
    margin-top: 18px;
  }
  .content__title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    span{
      font-size: 24px;
    }
  }
}