.testimonials {
  @extend %flex_column;
  gap: 72px;

  &__header {
    @extend %flex_column;
    gap: 15px;
    align-items: center;
  }
  &__title {
    @extend %heading;
  }
  &__description {
    @extend %description;
    text-align: center;
  }
}

.slider {
  display: flex;
  justify-content: center;

  &__track {
    max-width: 1087px;
    width: 100%;
    height: 344px;
    position: relative;
    overflow-x: hidden;

    // &::-webkit-scrollbar {
    //   display: none;
    // }

    &-list {
      display: flex;
      gap: 62px;
      transition: 0.2s ease-in-out;
      position: absolute;
    }
  }
}
.slider-item {
  @include d-flex(flex, center, center);
  width: 1087px;
  height: 344px;
  @include radius(14px);
  gap: 29px;
  background: $content-color;
  opacity: 0.5;
  padding: 0 72px;
}
.comment {
  &__text {
    @extend %description;
    color: $comment-text-color;
    letter-spacing: 2%;

    &::before {
      content: "“";
      color: $main-color;
      font-size: 32px;
      font-weight: 700;
    }

    &::after {
      content: "“";
      color: $main-color;
      font-size: 32px;
      font-weight: 700;
    }
  }

  &__name {
    color: $text-color;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 2%;
  }

  p:last-child {
    font-size: 19px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 2%;
  }
}
.slider-item_active {
  opacity: 1;
}
.element {
  @include d-flex(flex, center, none);
  gap: 9px;

  &__item {
    display: flex;
    input {
      display: none;
    }

    label {
      display: block;
      width: 57px;
      height: 16px;
      background: rgb(217, 217, 217);
      @include radius(8px);
      cursor: pointer;
    }

    input[type="radio"]:checked {
      + label {
        background-color: $main-color;
      }
    }
  }
}
