header {
  display: flex;
  height: 120px;
  @include flex(flex, space-evenly, center);

  h3 {
    @extend %logo;
  }
  h3::first-letter {
    @extend %logo-first-Letter;
  }
  h3::before {
    @extend %logo-before;
  }
  ul {
    @include flex(flex, none, center);

    gap: 40px;
    li {
      font-family: Poppins;
      width: 100px;
      cursor: pointer;
      font-size: 1.1rem;
      position: relative;
      text-align: center;
    }
    li:not(:last-child):after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $text-color;
      transform-origin: left;
      @extend %transition;
      @include scale(0);
    }
    li:hover:after {
      @include scale(1);
    }
    li:last-child {
      max-width: 180px;
      width: 100%;
    }
  }
  .downloadBtn {
    @extend %button;
    @include radius(5px);
    position: relative;
    border: 2px solid $main-color;
    overflow: hidden;
    @extend %transition;
  }
  .downloadBtn span {
    position: relative;
    z-index: 1;
  }
  .downloadBtn:hover {
    color: $main-color;
  }
  .downloadBtn::before {
    content: "";
    position: absolute;
    left: -51%;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: $white;
    @extend %transition;
  }
  .downloadBtn::after {
    content: "";
    position: absolute;
    right: -51%;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: $white;
    @extend %transition;
    color: $main-color;
  }
  .downloadBtn:hover:before {
    left: 0%;
  }
  .downloadBtn:hover:after {
    right: 0;
  }
}
