html {
  scroll-behavior: smooth;
}
body {
  font-family: $main-font;
  overflow-x: hidden;
}

[class$="__container"] {
  max-width: $content-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.m_top139 {
  margin-top: 139px;
}

*::selection {
  background-color: $main-color;
  color: $white;
}

* img {
  user-select: none;
}
