$main-color: rgb(253, 111, 0);
$comment-text-color: rgb(66, 66, 66);
$text-color: #000;
$white: #fff;

$main-font: "Poppins";
$Montserrat-font: 'Montserrat';

$content-width: 1420px;

$break-point-desktop4k: 2560px;
$break-point-desktop-FullHD: 1920px;
$break-point-laptop-L: 1440px;
$break-point-laptop: 1100px;
$break-point-tablet: 860px;
$break-point-mobile-L: 520px;
$break-point-mobile-M: 400px;
$break-point-mobile-S: 340px;
